.app-nav-bar {
    width: 250px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--my-box-shadow);
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.content_nav_link{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-nav-bar::-webkit-scrollbar {
    display: none;
}

.selected{
    background-color: var(--nav-item-hover-color);
    border-left: 5px solid var(--blue-pers);
    border-radius: 10px;
    margin: 5px 5px 0 5px;
}

img {
    width: 130px;
    height: 130px;
}

.spacer{
    flex: 1;
}

#nav_link_last_a {
    color: var(--red);
}


@media (max-width: 900px) {

    .app-nav-bar {
        width: 100px;
        text-align: center;
        padding-top: 0px;
        margin: 0 5px;
    }

    img {
        width: 35px;
        height: 35px;
        margin: 15px;
    }
}

@media (max-width: 500px) {
    .app-nav-bar {
        width: 60px;
    }
}
