.container {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  margin: 15px;
  overflow: hidden; /* Masquer le défilement pour le reste de la page */
  max-height: 77vh;
  box-shadow: var(--my-box-shadow);
}

.table-scroll {
  max-height: 400px; /* Ajustez la hauteur selon vos besoins */
  overflow: scroll;
}
.table-scroll::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
  color: var(--black-night);
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: var(--black-night);
}
tbody tr{
  box-shadow: var(--my-box-shadow);
}

tbody button{
  border: none;
  background-color: transparent;
}

.ajout_btn{
  display: flex;
  align-items: center;
  padding: 10px 5px;
  background-color: var(--light-color);
  border:3px solid var(--blue-pers);
  width: 180px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  transition: .5s background-color;
  color: black;
}

.filtre{
  margin-bottom: 10px;
}

.ajout_btn a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-left: 5px;
}
.ajout_btn:hover a{
  color: white;
}

select, input{
  width: 150px;
  margin-bottom: 2px;
  font-size: 12px;
  margin-left: 5px;
  color: black;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: .5s background-color, color;
}
.btn_action_one, .btn_action_two{
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  transition: .5s background-color;
}
.btn_action_one{
  background-color: white;
  border-color: rgb(0, 217, 255);
  color: rgb(9, 139, 161);
}

.btn_action_two{
  background-color: var(--white);
  border-color: var(--red);
  margin-left: 2px;
  color: var(--red);
}
.btn_action_one:hover{
  background-color: var(--blue-pers);
  color: var(--white);
}
.btn_action_two:hover{
  background-color: var(--red);
  color: var(--white);
}


/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: white;
  float: right;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  background-color: red;
  padding: 0px 10px 0px 10px;
  border-radius: 20px;
  border: 1px solid black;
  transition: .5s background-color, color;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: red;
}

.form_content input {
  background-color: rgb(0, 217, 255);
  width: 250px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: rgb(172, 243, 255);
  border: 3px solid rgb(0, 217, 255);
  font-size: 12px;
  margin-left: 5px;
  color: black;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.form_content button {
  background-color: white;
  border-color: #04BBC7;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 800;
  transition: .5s background-color;
}

.form_content button:hover {
  background-color: #04BBC7;
  color: white;
  cursor: pointer;
}
@media (max-width: 900px) {
  .body_page {
    max-height: 70vh;
  }
  select, input{
    width: 120px;
  }
}

@media (max-width: 500px) {
  .body_page {
    max-height: 70vh;
  }
  select, input{
    width: 90px;
  }
}

/* Modal de confirmation de suppression*/
.modal .modal_btn_del, .modal .modal_btn_up{
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  transition: .5s background-color, color;
  cursor: pointer;
}
.modal .modal_btn_del{
  background-color: var(--red);
}
.modal .modal_btn_up{
  background-color: var(--blue-pers);
  margin-left: 10px;
}

.modal .modal_btn_del:hover{
  background-color: rgb(170, 10, 10);
  color: var(--white);
}
.modal .modal_btn_up:hover{
  background-color: #05747c;
  margin-left: 10px;
  color: var(--white);
}
