<div class="chair" (click)="isSiegeClicked()" (mouseenter)="showSiegeInfo()" (mouseleave)="showSiegeInfo()">
  <div class="headrest"></div>
  <div class="seat"></div>
  <div class="footrest"></div>
</div>
@if (siegeIsMouseEnter){
  <div class="info">
    <div class="title">{{ siege.numero }}</div>
    <div class="price">{{ siege.tarif }}</div>
    <div class="classe">{{ siege.classeSiege }}</div>
  </div>
}
@if (showAddModal) {
  <div class="modal">
    <div class="modal-content">
      <span class="closeBtn" (click)="isSiegeClicked()">&times;</span>
      <h2>Modifier Les infos du siege</h2>
      <br>
      <form (ngSubmit)="modifierSiege()" class="form_content">
        <div>
          <label>Nom:</label>
          <br>
          <input type="text" [(ngModel)]="siege.tarif" name="nom">
        </div>
        <div>
          <label>Nom:</label>
          <br>
          <input type="text" [(ngModel)]="siege.classeSiege" name="nom">
        </div>
        <br>
        <button type="submit">Enregistrer</button>
      </form>
    </div>
  </div>
}
