.chair {
  width: 30px;
  height: 40px;
  background-color: #0b7d85;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.chair::before {
  content: '';
  width: 80%;
  height: 20%;
  background-color: #04959f;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 10px 10px 0 0;
}

.seat {
  width: 80%;
  height: 50%;
  background-color: #04BBC7;
  position: absolute;
  top: 30%;
  left: 10%;
  border-radius: 10px;
}

.headrest {
  width: 80%;
  height: 20%;
  background-color: #04959f;
  position: absolute;
  top: 0;
  left: 10%;
  border-radius: 10px 10px 0 0;
}

.footrest {
  width: 80%;
  height: 20%;
  background-color: #04959f;
  position: absolute;
  bottom: 0;
  left: 10%;
  border-radius: 0 0 10px 10px;
}

.container{
  position: relative;
  display: inline-block;
}

.info{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1000;
}

.affaire{
  .chair {
    background-color: #700909;
  }
  .chair::before {
    background-color: #af0a0a;
  }
  .seat {
    background-color: #dc0322;
  }

  .headrest {
    background-color: #af0a0a;
  }

  .footrest {
    background-color: #af0a0a;
  }
}

.nondisponible{
  .chair {
    background-color: #818080;
  }
  .chair::before {
    background-color: #4a4a4a;
  }
  .seat {
    background-color: #c5c2c2;
  }

  .headrest {
    background-color: #4a4a4a;
  }

  .footrest {
    background-color: #4a4a4a;
  }
}
