

<div class="container">
  <div class="chair" (click)="isSiegeClicked()" (mouseenter)="showSiegeInfo()" (mouseleave)="showSiegeInfo()">
    <div class="headrest"></div>
    <div class="seat"></div>
    <div class="footrest"></div>
  </div>
  @if (siegeIsMouseEnter){
    <div class="info">
      <div class="title">{{ siege.numero }}</div>
      <div class="price">{{ siege.positionSiege.tarif }}</div>
      <div class="classe">{{ siege.positionSiege.classeSiege.nom }}</div>
    </div>
  }
</div>
@if (showAddModal) {
  <div class="modal">
    <div class="modal-content">
      <span class="closeBtn" (click)="isSiegeClicked()">&times;</span>
      <h2>Modifier Les infos du siege</h2>
      <br>
      <form (ngSubmit)="modifierSiege()" class="form_content">
        <div>
          <label>Prix:</label>
          <br>
          <input type="text" [(ngModel)]="siege.positionSiege.tarif" name="tarif">
        </div>
        <div>
          <label>Classe:</label>
          <br>
          <input type="text" [(ngModel)]="siege.positionSiege.classeSiege.nom" name="nom">
        </div>
        <br>
        <button type="submit">Enregistrer</button>
      </form>
    </div>
  </div>
}
