<nav class="app-nav-bar">

    <div>
        <a routerLink="/formulaireAdmin">
            <img [src]="logo1" alt="logo1" width="100" height="100">
        </a>
    </div>

    <div class="content_nav_link">

        <!---------- MENU ITEMS ------------>
        
        <app-menu-item menuItemTitle="Acceuil" menuItemIcon="fa-solid fa-house" route="/accueil"></app-menu-item>

        <app-menu-item menuItemTitle="Vols" menuItemIcon="fa-solid fa-plane" route="/vol"></app-menu-item>

        <app-menu-item menuItemTitle="Personnels" menuItemIcon="fa-solid fa-user" route="/personnel"></app-menu-item>

        <app-menu-item menuItemTitle="Aeroports" menuItemIcon="fa-solid fa-plane-departure" route="/aeroport"></app-menu-item>

        <app-menu-item menuItemTitle="Compagnies" menuItemIcon="fa-solid fa-house-flag" route="/compagnie"></app-menu-item>

        <app-menu-item menuItemTitle="Faq" menuItemIcon="fa-solid fa-user-tie" route="/faq"></app-menu-item>

        <app-menu-item menuItemTitle="Admin" menuItemIcon="fa-solid fa-user-tie" route="/admin"></app-menu-item>

        <app-menu-item menuItemTitle="Super admin" menuItemIcon="fa-duotone fa-solid fa-user-tie" route="/superadmin"></app-menu-item>


        <!---------- NAV BAR BOTTOM ------------>
        <div class="nav_bar-bottom">
            
            <app-menu-item menuItemTitle="Parametre" menuItemIcon="fa-solid fa-gear" route="/vol"></app-menu-item>
            <div (click)="logout()" id="nav_link_last_a" class="nav_link" routerLink="/connexion">
                <app-menu-item menuItemTitle="Parametre" menuItemIcon="fa-solid fa-gear" route="/vol"></app-menu-item>
            </div>

        </div>

    </div>
</nav>