<div class="container">
  <div class="header">
    <button (click)="IsAddSuperAdminButtonClicked()">Ajouter SuperAdmin</button>
  </div>
  <div class="content">
    <table>
      <thead>
      <tr>
        <th>Nom</th><th>Prenom</th><th>Email</th><th>Mot De Passe</th><th>Action</th>
      </tr>
      </thead>
      <tbody>
        @for (item of superadminList; track item.id){
          <tr>
            <td>{{ item.nom }}</td>
            <td>{{ item.prenom }}</td>
            <td>{{ item.email }}</td>
            <td>*********</td>
            <td class="action">
              <div class="button1" (click)="isDeleteButtonClicked(item)"><i class="fa-solid fa-trash"></i></div>
              <div class="button2" (click)="isEditButtonClicked(item)"><i class="fa-solid fa-pen"></i></div>
            </td>
          </tr>



        }

        @if (showEditModal) {
          <div class="modal">
            <div class="modal-content">
              <span class="closeBtn" (click)="isEditButtonClicked(selectedSuperAdmin)">&times;</span>
              <h2>Modifier Le SuperAdmin</h2>
              <br>
              <form (ngSubmit)="modifierSuperAdmin(selectedSuperAdmin)" class="form_content">
                <div>
                  <label>Nom:</label>
                  <br>
                  <input type="text" [(ngModel)]="selectedSuperAdmin.nom" name="nom">
                </div>
                <div>
                  <label>Prenom:</label>
                  <br>
                  <input type="text" [(ngModel)]="selectedSuperAdmin.prenom" name="prenom">
                </div>
                <div>
                  <label>Email:</label>
                  <br>
                  <input type="text" [(ngModel)]="selectedSuperAdmin.email" name="email">
                </div>
                <div>
                  <label>Mot de passe:</label>
                  <br>
                  <input type="text" [(ngModel)]="selectedSuperAdmin.password" name="motdePasse">
                </div>
                <div>
                  <label>Adresse:</label>
                  <br>
                  <input type="text" [(ngModel)]="selectedSuperAdmin.addresse" name="adresse">
                </div>
                <div>
                  <label>Numero de telephone:</label>
                  <br>
                  <input type="text" [(ngModel)]="selectedSuperAdmin.numeroDeTelephone" name="numero">
                </div>
                <br>
                <button type="submit">Enregistrer</button>
              </form>
            </div>
          </div>
        }
        @if (showDeletedModal) {
          <div class="modal">
            <div class="modal-content">
              <span class="closeBtn" (click)="isDeleteButtonClicked(selectedSuperAdmin)">&times;</span>
              <h2>Confirmer la suppression</h2>
              <br>
              <p>Voulez-vous vraiment Bloquer cette SuperAdmin?<br>
              </p>
              <br>
              <br>
              <button (click)="supprimerSuperAdmin(selectedSuperAdmin)" class="modal_btn_del">Supprimer</button>
              <button (click)="isDeleteButtonClicked(selectedSuperAdmin)" class="modal_btn_up">Annuler</button>
            </div>
          </div>
        }
        @if (showAddModal) {
          <div class="modal">
            <div class="modal-content">
              <span class="closeBtn" (click)="IsAddSuperAdminButtonClicked()">&times;</span>
              <h2>Ajouter Un SuperAdmin</h2>
              <br>
              <form (ngSubmit)="ajouterSuperAdmin()" class="form_content">
                <div>
                  <label>Nom:</label>
                  <br>
                  <input required type="text" [(ngModel)]="superadminToAdd.nom" name="nom">
                </div>
                <div>
                  <label>Prenom:</label>
                  <br>
                  <input type="text" [(ngModel)]="superadminToAdd.prenom" name="prenom">
                </div>
                <div>
                  <label>Email:</label>
                  <br>
                  <input type="text" [(ngModel)]="superadminToAdd.email" name="email">
                </div>
                <div>
                  <label>Mot de passe:</label>
                  <br>
                  <input type="text" [(ngModel)]="superadminToAdd.password" name="motdePasse">
                </div>
                <div>
                  <label>Adresse:</label>
                  <br>
                  <input type="text" [(ngModel)]="superadminToAdd.addresse" name="adresse">
                </div>
                <div>
                  <label>Numero de telephone:</label>
                  <br>
                  <input type="text" [(ngModel)]="superadminToAdd.numeroDeTelephone" name="numero">
                </div>
                <br>
                <button type="submit">Enregistrer</button>
              </form>
            </div>
          </div>
        }
      </tbody>

    </table>
  </div>
</div>


