.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header{
  align-self: start;
}

input{
  all: unset;
  border: 1px solid var(--black-night);
  width: 50px;
}

.tete1{
  display: flex;
  padding: 10px;
  height: 50px;
  align-items: center;

  div{
    border: 1px solid var(--black-night);
    padding: 30px;
  }

}

.airplane {
  background-color: #ccc;
  border-radius: 150px 150px 0 0;
  width: 300px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 50px 20px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.85);
}
br{
  flex-wrap: wrap;
  wrap-option: wrap;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.row1{
  display: flex;
}

.espace{
  flex: 1;
  border: 1px solid #3e3d3d;
  background-color: rgba(62, 61, 61, 0.27);
}

.column{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.window {
  width: 100%;
  height: 80px;
  border-radius: 150px 150px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.aileGauche{
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: #ccc;
  transform: rotate(70deg);
  top: 60%;
  left: -150px;
}
.aileDroite{
  position: absolute;
  width: 100px;
  height: 300px;
  background-color: #ccc;
  transform: rotate(-70deg);
  top: 60%;
  right: -150px;
}
