<div class="container">
  <div class="header">
    @if (siegeList.length === 0){
      <button (click)="genererSiege()">Generer</button>
    } @else {
      <button (click)="closePopup()">Reconstruire</button>
    }
    <div>Capacite Totale : {{this.siegeList.length}}</div>
  </div>
  <div class="content">
    <!-- si les sieges ont etes deja generer-->
      <!-- Afficher les sieges -->
    <!-- sinon montrer le formulaire de remplissage des sieges-->
    @if(siegeList.length === 0){
      <form (ngSubmit)="genererSiege()">
        <div class="tete1">
          <input type="number" min="0" [(ngModel)]="nlTete" name="nlTete">
          <div>
            <input type="number" min="0" [(ngModel)]="t1" name="t1">
            <input type="number" min="0" [(ngModel)]="t2" name="t2">
            <input type="number" min="0" [(ngModel)]="t3" name="t3">
          </div>
        </div>
        <div class="tete1">
          <input type="number" min="0" [(ngModel)]="nlCorps" name="nlCorps">
          <div>
            <input type="number" min="0" [(ngModel)]="c1" name="c1">
            <input type="number" min="0" [(ngModel)]="c2" name="c2">
            <input type="number" min="0" [(ngModel)]="c3" name="c3">
          </div>
        </div>
        <div class="tete1">
          <input type="number" min="0" [(ngModel)]="nlQueue" name="nlQueue">
          <div>
            <input type="number" min="0" [(ngModel)]="q1" name="q1">
            <input type="number" min="0" [(ngModel)]="q2" name="q2">
            <input type="number" min="0" [(ngModel)]="q3" name="q3">
          </div>
        </div>
      </form>
    } @else {
      <div class="airplane">
        <div class="aileGauche"></div>
        <div class="aileDroite"></div>
        <div class="window"></div>
        <div class="column">
        @for (siegeLigne of siegeFormater; track siegeLigne.keys()){
          <div class="row1">
          @for (siege of siegeLigne; track siege.id){
            @if (doEspace(siege)){
              <div class="espace"></div>
            }
            <app-siege-card [siege]="siege"></app-siege-card>
          }
          </div>
        }
        </div>
          <!--<div class="column">
          @if ((siege.numero[0] === 'A' || siege.numero[0] === 'D' || siege.numero[0] === 'G') && verifierSisuite(siege)){



          }
            <div class="row1">
          @if (doEspace(siege)){
            <span class="espace"></span>
          }
          <app-siege-card [siege]="siege"></app-siege-card>
            </div>

          </div>-->

      </div>
    }

  </div>
  @if (showDestructionPopup) {
    <div class="modal">
      <div class="modal-content">
        <span class="closeBtn" (click)="closePopup()">&times;</span>
        <h2>Confirmer la suppression</h2>
        <br>
        <p>Voulez-vous vraiment supprimer tout les sieges de cet avion ?<br>
        </p>
        <br>
        <br>
        <button (click)="detruireSiege()" class="modal_btn_del">Supprimer</button>
        <button (click)="closePopup()" class="modal_btn_up">Annuler</button>
      </div>
    </div>
  }
</div>


