.container{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }
}

.container:hover{
    transition: 0.3s;
    transform: scale(1.2);
    img{
        box-shadow: 0px 1px 1px 4px var(--blue-pers);
    }
}

.leftSection{
    text-align: center;
    .title{
        font-family: 'Courier New', Courier, monospace;
    }
}

.actionButton{
    gap: 3px;
    display: flex;
    flex-direction: column;
}

i{
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;

}
i:hover{
  transition: 0.4s;
  transform: scale(1.2) rotate(20deg);
}

.button1 i{
  color: var(--red);

}
.button2 i{
  color: var(--blue-pers);
}
