.nav_link{
    display: flex;
    align-items: center;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 5px 0 5px;

    i{
        min-width: 30px;
    }

    a{
        
        text-decoration: none;
        margin-left: 20px;
    }
    
}


.nav_link:hover {
    background-color: var(--nav-item-hover-color);
}


@media (max-width: 900px) {
    .nav_link{
        display: flex;
        padding: 10px;

        a{
            display: none;
            text-decoration: none;
            color: black;
            margin-left: 20px;
        }
        
    }

}
